<%- include('../partials/header') %>

<h2>Cities index</h2>

<!-- Cards  UI-->
<div class="card-deck">
  <% cities.sort((a, b) => {return a.name > b.name ? 1 : -1}).forEach(c => { %>
  <div class="card shadow" style="min-width: 18rem; max-width: 18rem;">
    <img class="card-img-top" src="<%= c.img %>" alt="Card image cap" height="180" width="286">
    <div class="card-body">
      <h5 class="card-title"><%= c.name %> </h5>
      <p class="card-text"><%= c.country %> <br>City Pop.: <%= c.population %> </p>
      <a href="cities/<%= c._id %>" class="btn btn-primary">Landmarks</a>
    </div>
  </div>
  <% }) %>
</div>

<br />

<%- include('../partials/footer') %>
