<%- include('../partials/header') %>

<h2>Cities index</h2>
<table>
  <thead>
    <th></th>
    <th>Name</th>
    <th>Country</th>
    <th>State</th>
    <th>Capital City?</th>
    <th></th>
  </thead>
  <tbody>
    <% cities.forEach(c => { %>
    <tr>
      <td><img src="<%= c.img %> " alt="<%= c.name %> " /></td>
      <td><%= c.name %></td>
      <td><%= c.country %></td>
      <td><%= c.state %></td>
      <td><%= c.capital ? 'Yes' : 'No' %></td>
      <td><a href="cities/<%= c._id %>">Landmarks</a></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<!-- Cards  UI-->
<% cities.forEach(c => { %>

<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="<%= c.img %> " alt="<%= c.name %> " />
        <span class="card-title"><%= c.name %> </span>
      </div>
      <div class="card-content">
        <p><%= c.country %></p>
      </div>
      <div class="card-action">
        <a href="cities/<%= c._id %>">Landmarks</a>
      </div>
    </div>
  </div>
</div>

<% }) %>
<br />

<%- include('../partials/footer') %>
