<%- include('../partials/header') %>

<section>
  <div>Name:</div>
  <div><%= city.name %></div>
</section>

<h2>Landmarks</h2>

<% if (user) { %>
<form action="/cities/<%= city._id %>/landmarks" method="POST">
  <label>Name: </label>
  <input type="text" name="name" />
  <label>Addres: </label>
  <input type="text" name="address" />
  <label>Type: </label>
  <select name="category">
    <option value="Nature">Nature</option>
    <option value="History">History</option>
    <option value="Science">Science</option>
    <option value="Food">Food</option>
    <option value="Art">Art</option>
    <option value="Architecture">Architecture</option>
    <option value="Religion">Religion</option>
  </select>
  <label>image: </label>
  <input type="text" name="img" />
  <button type="submit">Add Landmark</button>
</form>
<% } else { %>
<h3>Must be logged in to enter landmark</h3>
<% } %>
<br />
<% if (city.landmarks.length) { %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Address</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% city.landmarks.forEach(l => { %>
    <tr>
      <td><img src="<%= l.img %> " alt="<%= l.name %>" /></td>
      <td><%= l.name %></td>
      <td><%= l.address %></td>
      <td><%= l.category %></td>
      <td>
        <form
          action="/cities/<%= city._id %>/landmarks/<%= l._id %>?_method=DELETE"
          class="delete-form"
          method="POST"
        >
          <button type="submit">Delete Landmark</button>
        </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
<h5>No Landmarks yet</h5>
<% } %>
<br />
<%- include('../partials/footer') %>
