<%- include('../partials/header') %>

<br />
<h4 class="ml-4">Edit <%= landmark.name %></h4>
<div class="form-group ml-4">
<form
  action="/landmarks/<%= landmark._id %>?_method=PUT"
  method="POST"

>
  <label>Name:
  <input class="form-control" type="text" name="name" value="<%= landmark.name %>" />
</label>
<br>
  <label>Address:
  <input class="form-control" type="text" name="address" value="<%= landmark.address %> " />
</label>
<br>
  <label>image: 
  <input class="form-control" type="text" name="img" value="<%= landmark.img %> " />
</label>
<br>
  <label>Type: 
  <select class="form-control" name="category" required>
    <option value="Nature">Nature</option>
    <option value="History">History</option>
    <option value="Science">Science</option>
    <option value="Food">Food</option>
    <option value="Art">Art</option>
    <option value="Architecture">Architecture</option>
    <option value="Religious">Religious</option>
  </select>
</label>
<br>
<label>About: </label>
  <textarea class="form-control" name="about"></textarea>

  <button class="btn btn-success" type="submit">Change Landmark</button>
</form>
</div>

<%- include('../partials/footer') %>
